<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<script src="https://kit.fontawesome.com/df24a4616e.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
																	                                  
		{% if title %}
			<title>Sk8Skl - {{ title }}</title>
		{% else %}
			<title>Sk8Skl</title>
		{% endif %}
	</head>

    <body class="homeBody">

        <!-- <div class="content-section">
            <form method="POST" action="">
                {{ rrForm.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Your Password</legend>
                    <div class="form-group"></div>
                </fieldset>
            </form>
        </div> -->

        <div class="form-gap">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 resetCol">
                        <div class="panel panel-defaul">
                        <div class="panel-body">
                            <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            <div class="panel-body">
                
                                <form method="POST" action="">
                                {{ rrForm.hidden_tag() }}
                                <div class="form-group">
                                    <div class="input-group">
                                        {% if rrForm.email.errors %}
                                            {{ rrForm.email(class="form-control is-invalid", placeholder="Your Email")}}
                                            <div class="invalid-feedback">
                                                {% for error in rrForm.email.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                                {{ rrForm.email(class="form-control", placeholder="Your Email")}}
                                        {% endif %}
                                    </div>
        
                                </div>
                            </div>
                            <div class="form-group">
                                {{ rrForm.submit(class="btn btn-lg btn-block forms_buttons-action") }}
                                <a href="home" class="btn btn-lg btn-block btn-secondary ">Back</a>
                            </div>
                                
                            <!-- <input type="hidden" class="hide" name="token" id="token" value="">  -->
                            </form>
                
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>



    </body>
<html>